.App {
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f172c;
}

button {
  margin: 20px;
  font-size: 18px;
}